@{
    ViewData["Title"] = "Bul";
}

<h3>Hangimiz Kaybetmedik ki?</h3>
<p style="width: 300px">Kaybettiğiniz eşya hakkında hatırladığınız bütün detayları girin, kesin bilgiler olmasa bile, belirttiğiniz aralıkların doğru olduğundan emin olmaya çalışın.
</p>
