html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.araBul {
    position: fixed;
    top: 8px;
    right: 100px;
    margin-left: 100px;
}

.araBar{
    padding-top: 3px;
    padding-bottom: 6px;
    border-radius: 5px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}